.header{
  color: $dl-color-organge-3;
  font-size: $dl-fs-0;
  font-weight: 600;
  @include style-text-hover( $dl-color-green-3,#000000);
}
.header1{
  font-weight: $fw-bold;
  font-size:  $dl-fs-1;
  @include style-text-hover( $dl-color-indigo-1, $dl-color-green-0);
}
.hover-icon{
  transition: all 0.5s;
&:hover{
  transform: scale(1.5);

}
}