@import "../Helper_Sass/mixin";
@import "../Helper_Sass/variables";

.bookingTicket {
    background-color: rgb(255, 255, 255);
    padding-top: 100px;
    padding-bottom: 100px;
    .cinemaList {
        h4 {
            color: $color-orange;
            background-color: white;
            text-align: center;
            padding: 5px 0;
            margin-bottom: 0;
        }
        .cinemaList_content {
            border-radius: 0;
            border-color: $color-gray-2;
            .cinemaList_item {
                text-align: center;
                opacity: 0.5;
                img {
                    margin: 0 auto;
                    width: 50px;
                    height: 50px;
                }
                &:hover {
                    opacity: 1;
                    background-color: $color-gray-3;
                }
            }
            .active {
                opacity: 1;
                background-color: $color-gray-4;
                border-color: $color-gray-3;
            }
        }
    }
    .cinemaGroupList {
        h4 {
            margin-bottom: 0;
            color: $color-orange;
            background-color: white;
            text-align: center;
            padding: 5px 0;
        }
        .cinemaGroupList_content {
            border-radius: 0px;
            border-color: $color-gray-2;
            .cinemaGroupList_item {
                opacity: 0.5;
                color: $color-black-0;
                &:hover {
                    opacity: 1;
                    background-color: $color-gray-3;
                }
            }
            .active {
                opacity: 1;
                background-color: $color-gray-4;
                border-color: $color-gray-3;
            }
        }
    }
    .cinemaMovie {
        h4 {
            margin-bottom: 0;
            color: $color-orange;
            background-color: white;
            text-align: center;
            padding: 5px 0;
        }
        .cinemaMovie_content {
            border: 0.5px solid $color-gray-3;

            .cinemaMovie_item {
                color: white;
                margin-bottom: 30px;
                margin-top: 10px;
                position: relative;
                .cinemaMovie_detail {
                    a {
                        text-decoration: none;
                        margin-right: 5px;
                    }
                }
                &::after {
                    content: "";
                    width: 450px;
                    height: 2px;
                    background: linear-gradient(to right, $color-yellow, $color-orange);
                    display: block;
                    position: absolute;
                    left: 10%;
                    bottom: -10px;
                }
            }
        }
    }
}

.button_ShowTime {
    height: 35px;
    width: 150px;
    text-align: center;
    line-height: 35px;
    display: inline-block;
    border: 1px solid $color-orange;
    background-color: transparent;
    @include styleText($color-orange, $fs-3, $fw-normal);
    &:hover {
        background-color: #eb7633;
        color: white;
    }
    &:focus {
        outline: none;
        box-shadow: none;
    }
}
