.title{

  text-align: center;
  color: $dl-color-green-0;
  font-weight: 600;
}
.title-label{
  color: $dl-color-blue-1;
  font-size:  $dl-fs-1;
  font-weight:  $fw-default;
  border-radius: 20px;
 
}